body {
  margin: 0;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  background-color: #121212;
  color: #ffffff;
}

#scene-list-container {
  position: absolute;
  top: 10px;
  left: 10px;
}

#scene-list-toggle {
  background-color: #1e90ff;
  color: #ffffff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

#scene-list-toggle:hover {
  background-color: #00bfff;
}

#scene-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  white-space: nowrap;
}

#scene-list.open {
  display: block;
}

#scene-list li {
  margin: 5px 0;
}

#scene-list a {
  text-decoration: none;
  color: #1e90ff;
  font-weight: bold;
  transition: color 0.3s ease;
}

#scene-list a:hover {
  text-decoration: underline;
  color: #00bfff;
}

canvas.threejs {
  display: block;
  width: 100vw;
  height: 100vh;
}

a.return-link {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #1e90ff;
  font-weight: bold;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

a.return-link:hover {
  color: #00bfff;
  background-color: rgba(0, 0, 0, 0.7);
}
